<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/addrbook.css" type="text/css" media="screen" />

<script type="text/javascript">
	function check(abId) {
		pwd = prompt('수정/삭제 하려면 비밀번호를 넣으세요');
		document.location.href="editForm.do?abId="+abId+"&upasswd="+pwd;
	}
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>주소록:목록화면</title>
</head>
<body>
<div align="center">
<H2>주소록:목록화면</H2>
<HR>
<form>
<a href="form.do">주소록 등록</a><P>
		<table border="1">
			<tr><th>번호</th><th>이 름</th><th>전화번호</th><th>생 일</th><th>회 사</th><th>메 모</th></tr>
				<tr th:each="ab : ${memberlist}">
					<td><a th:href ="@{/edit_form.do(id=${ab.abId})}" th:text="${ab.abId}"></a></td>
					<td th:text="${ab.abName}"></td>
					<td th:text="${ab.abTel}"></td>
					<td th:text="${ab.abBirth}"></td>
					<td th:text="${ab.abComdept}"></td>
					<td th:text="${ab.abMemo}"></td>
				</tr>
		</table>
</form>
<div><a href="logout.do">logout</a></div>
</div>
</body>
</html>